@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	background-color: #F7F5F2;
}

/* 크리에이터 헤더 부분*/

.creatorPage-headerMenu{
	
	position: fixed;
	width: 100%;
	z-index: 1;
	border-bottom: 1px solid lightgrey;
}

.headerMenu-container{
	
	padding: 15px 30px;
	float: left;
	
	
}

.headerMenu-container:after{

	both: clear;
	display: block;
	content: '';
	
}

.creator-personalMenu{
	
	display: flex;
	float: right;
	
}

.creator-personalMenu>div{
	
	width: 50px;
	height: 50px;
	font-size: 30px;
	line-height: 70px;
	text-align: center;
	margin-right: 20px;
	color: skyblue;
	
}

.creator-personalMenu:after{
	
	both: clear;
	display: block;
	content: '';
	
}


/* 크리에이터 사이드 메뉴 */

.sideMenu-container{
	
	position: fixed;
	width: 250px;
	background-color: skyblue;
	height: 100%;
	
}

.sidemenu-area{
	
	margin: 70px 0 0;
	padding-top: 15px;
	
}

.sidemenu-list{
	
	padding: 0 27px;
	
}

.sidemenu{
	
    
	font-size: 13px;	
}

.sidemenu-link{
	padding: 10px 25px 10px 10px;
	display: inherit;
}

.sidemenu-link:hover{
	
	text-decoration-line: none;
	background-color: lightgrey;
	
}


.sidemenu>a>span>span{
	color: black;
}

.sidemenu>a>span>span:hover{
	background-color: lightgrey;
}


.sidemenu>a>span>i{
	
	margin-right: 5px;
	color: skyblue;
	font-size: 20px;
	
}

.sidemenu>a>span>span{
	
	vertical-align: top;
	
}