@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	background-color: #F7F5F2;
}

span, i, div{
	
	background-color: transparent;
	
}


/* 크리에이터 헤더 부분*/

.creatorPage-headerMenu{
	
	position: fixed;
	width: 100%;
	z-index: 1;
	border-bottom: 1px solid lightgrey;
}

.headerMenu-container{
	
	padding: 15px 30px;
	float: left;
	
	
}

.headerMenu-container:after{

	both: clear;
	display: block;
	content: '';
	
}

.creator-personalMenu{
	
	display: flex;
	float: right;
	
}

.creator-personalMenu>div{
	
	width: 50px;
	height: 50px;
	font-size: 30px;
	line-height: 70px;
	text-align: center;
	margin-right: 20px;
	color: skyblue;
	
}

.creator-personalMenu:after{
	
	both: clear;
	display: block;
	content: '';
	
}

.logo-home{
	
	display: inline-block;
	
}



/* 크리에이터 사이드 메뉴 */

.sideMenu-container{
	
	position: fixed;
	width: 250px;
	height: 100%;
	border-right: 1px solid lightgrey;
	
}

.sidemenu-area{
	
	margin: 70px 0 0;
	padding-top: 15px;
	
}

.sidemenu-list{
	
	padding: 0 27px;
	
}

.sidemenu{
	
    
	font-size: 12px;	
}

.sidemenu-link{
	padding: 10px 25px 10px 10px;
	display: inherit;
}

.sidemenu-link:hover{
	
	text-decoration-line: none;
	background-color: lightgrey;
	
}


.sidemenu>a>span>span{
	color: black;
}

.sidemenu>a>span>span:hover{
	background-color: lightgrey;
}


.sidemenu>a>span>i{
	
	margin-right: 5px;
	color: skyblue;
	font-size: 20px;
	
}

.sidemenu>a>span>span{
	
	vertical-align: top;
	
}

/* 메인 페이지 파트*/

.creatorMain-container{
	
	padding: 71px 0 0 0;
	margin: 0 32px 71px auto;
	width: calc(100% - 315px);
	right: 0;
	position: absolute;
	
}

.status-container{
	
	margin: 30px 80px;
	height: 600px;
	
}

.statusManagement-container{
	
	display: inline-flex;
	
}


.classList-container{
	
	width: 500px;
	display: inline-block;
	
}

.classList-title>span{
	
	font-size: 18px;
	font-weight: bold;
	left: 0;
	
}
.addClass{
	
	color: royalblue;
	float: right;
	
}
.addClass:after{
	
	clear: both;
	display: block;
	content: '';
	
}

.classList-lineUp{
	
	margin-top: 20px;
	height: 400px;
	overflow: scroll;
	 -ms-overflow-style: none; 
    scrollbar-width: none; 
    
}

.classList-lineUp::-webkit-scrollbar {
    display: none; 
}

.classMenu{
	
	width: 100%;
	height: 80px;
	padding: 15px;
	background-color: lavender;
	display: block;
	border: 1px solid turquoise;
}

.class-instructor{
	
	color: black;
	font-size: 13px;
	display: block;
	
}

.class-name{
	
	color: black;
	font-size: 15px;
	font-weight: bold;
	
	
}

.classMenu-link:hover{
	
	text-decoration: none;
	
}

.class-detail{
	
	font-size: 12px;
	float: right;
	line-height: 25px;
}

.individualGuide-container{
	
	margin-left: 72px;
	width: 300px;
	
}

.individualGuideline>header>span{
	font-size: 18px;
	font-weight: bold;
}

.individualGuideline-menu-container{
	
	margin-top: 20px;
	border: 1px solid lightgrey;
	
}

.individualGuideline-menu{
	
	padding: 20px;
	
}

.guideline-menu>span{
	
	font-size: 14px;
	font-weight: bold;
	color: black;
	
}

.sub-description{
	
	margin-top: 8px;
    color: rgb(133, 138, 141);
	font-size: 12px;
	
}
.guideline-menu{
	
	margin-bottom: 20px;
	
}


/* 클래스 신청 페이지 */

.applyClass-leftContainer{
	
	width:350px;
	padding-top: 70px;
	border: 1px solid lightgrey;
	display: inline-block;
	
}

.applyClass-stepContainer{
	
	margin-top: 30px;
	
}

#class-basicInfo{
	
	
}

#class-basicInfo:hover, 
#class-introduction:hover,
#class-creatorIntroduction:hover{
	
	text-decoration: none;
	
}

.applyClass-steps{
	
	padding: 12px 30px 12px 40px;
    font-size: 20px;
    color: cornflowerblue;
	
}

.applyClass-steps:hover{
	
	background-color: rgb(133, 138, 141);
	color: white;
	
}

.applyClass-rightContainer{
	
	position: absolute;
	display: inline-flex;
	justify-content: center;
	margin-top: 70px;
	-webkit-box-pack: center;
    
	
}
.applyClass-classInfos, 
.applyClass-introduction, 
.applyClass-creatorInfo, 
.applyClass-confirmClasss{
	
	width: 900px;
	padding: 30px;
}

.applyclass-basicInfo{
	
	
}

.progress-title{
	
	font-weight: bold;
	font-size: 23px;
	
}

.progress-description{
	
	margin-top: 12px;
	color: dimgrey;
}

.basicInfo-title{
	
	margin-bottom: 25px;
	
}


/* 클래스 미리보기 */

.applyClass-classPreview{
	

	
}

.applyClass-previewStatus{
	
	min-width: 310px;
	
}

.image-previewImage{
	

	width: 100%;
	
}

.col-md-4{
	
	max-width: 310px;
	
}

.class-info{
	
	margin: 0px;
    display: inline;
    font-weight: bold;
    font-size: 10px;
    color: black;
    padding: 20px;
}


#previewImage{
	
	width: 100%;
	height: 210px;
	
}

/* 크리에이터 센터 푸터*/

.jumbotron.jumbotron-fluid.mb-0{


    position: absolute;
    right: 0;
    margin: 0 80px;
}