@charset "UTF-8";

*{
	margin: 0;
	padding: 0;

}



/* 크리에이터 헤더 부분*/

.creatorPage-headerMenu{
	
	position: fixed;
	width: 100%;
	z-index: 1;
	border-bottom: 1px solid lightgrey;
	background-color: white;
}

.headerMenu-container{
	
	padding: 15px 30px;
	float: left;
	
	
}

.headerMenu-container:after{

	both: clear;
	display: block;
	content: '';
	
}

.creator-personalMenu{
	
	display: flex;
	float: right;
	
}

.creator-personalMenu>div{
	
	width: 50px;
	height: 50px;
	font-size: 30px;
	line-height: 70px;
	text-align: center;
	margin-right: 20px;
	color: skyblue;
	
}

.creator-personalMenu:after{
	
	both: clear;
	display: block;
	content: '';
	
}

.logo-home{
	
	display: inline-block;
	
}



/* 크리에이터 사이드 메뉴 */

.sideMenu-container{
	
	margin-top: 70px;
	position: fixed;
	width: 250px;
	height: 100%;
	border-right: 1px solid lightgrey;
	
}

.sidemenu-area{

	padding-top: 15px;
	
}

.sidemenu-list{
	
	padding: 0 27px;
	
}

.sidemenu{
	
    
	font-size: 12px;	
}

.sidemenu-link{
	padding: 10px 25px 10px 10px;
	display: inherit;
}

.sidemenu-link:hover{
	
	text-decoration-line: none;
	background-color: lightgrey;
	
}


.sidemenu>a>span>span{
	color: black;
}

.sidemenu>a>span>span:hover{
	background-color: lightgrey;
}


.sidemenu>a>span>i{
	
	margin-right: 5px;
	color: skyblue;
	font-size: 20px;
	
}

.sidemenu>a>span>span{
	
	vertical-align: top;
	
}

/* 메인 페이지 파트*/

.creatorMain-container{
	
	padding: 71px 0 0 0;
	margin: 0 32px 71px auto;
	width: calc(100% - 315px);
	right: 0;
	position: absolute;
	
}

.status-container{
	
	margin: 30px 80px;
	height: 600px;
	
}

.statusManagement-container{
	
	display: inline-flex;
	
}


.classList-container{
	
	width: 500px;
	display: inline-block;
	
}

.classList-title>span{
	
	font-size: 18px;
	font-weight: bold;
	left: 0;
	
}
.addClass{
	
	color: royalblue;
	float: right;
	
}
.addClass:after{
	
	clear: both;
	display: block;
	content: '';
	
}

.classList-lineUp{
	
	margin-top: 20px;
	height: 250px;
	overflow: scroll;
	 -ms-overflow-style: none; 
    scrollbar-width: none; 
    
}

.classList-lineUp::-webkit-scrollbar {
    display: none; 
}

.classMenu{
	
	width: 100%;
	height: 80px;
	padding: 15px;
	background-color: lavender;
	display: block;
	border: 1px solid turquoise;
}

.class-instructor{
	
	color: black;
	font-size: 13px;
	display: block;
	
}

.class-name{
	
	color: black;
	font-size: 15px;
	font-weight: bold;
	
	
}

.classMenu-link:hover{
	
	text-decoration: none;
	
}

.class-detail{
	
	font-size: 12px;
	float: right;
	line-height: 25px;
}

.individualGuide-container{
	
	margin-left: 72px;
	width: 300px;
	
}

.individualGuideline>header>span{
	font-size: 18px;
	font-weight: bold;
}

.individualGuideline-menu-container{
	
	margin-top: 20px;
	border: 1px solid lightgrey;
	
}

.individualGuideline-menu{
	
	padding: 20px;
	
}

.guideline-menu>span{
	
	font-size: 14px;
	font-weight: bold;
	color: black;
	
}

.sub-description{
	
	margin-top: 8px;
    color: rgb(133, 138, 141);
	font-size: 12px;
	
}
.guideline-menu{
	
	margin-bottom: 20px;
	
}


/* 클래스 신청 페이지 */

.applyClass-leftContainer{
	
	width:350px;
	margin-top: 70px;
	border: 1px solid lightgrey;
	display: inline-block;
	
}

.applyClass-stepContainer{
	
	padding-top: 30px;
	
}

#class-basicInfo{
	
	
}

#class-basicInfo:hover, 
#class-introduction:hover,
#class-creatorIntroduction:hover,
#class-confirmFinal:hover{
	
	text-decoration: none;
	
}

.applyClass-steps{
	
	padding: 12px 30px 12px 40px;
    font-size: 20px;
    color: cornflowerblue;
	
}

.applyClass-steps:hover{
	
	background-color: rgb(133, 138, 141);
	color: white;
	
}

.applyClass-rightContainer{
	
	position: absolute;
	display: inline-flex;
	justify-content: center;
	margin-top: 70px;
	-webkit-box-pack: center;
    
	
}
.applyClass-classInfos{
	
	width: 900px;
	padding: 30px;
}

.display-toggle{
	
	display: none;
	
}

.progress-title{
	
	font-weight: bold;
	font-size: 23px;
	
}

.progress-description{
	
	margin-top: 12px;
	color: dimgrey;
}

.basicInfo-title{
	
	margin-bottom: 25px;
	
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#conMainChapter_num,
#conSubChapter_num{
	

	
}


/* 클래스 미리보기 */

.applyClass-classPreview{
	

	
}

.applyClass-previewStatus{
	
	min-width: 310px;
	
}

.image-previewImage{
	

	width: 100%;
	
}

.col-md-4{
	
	max-width: 310px;
	
}

.col-md-4:hover{
	
		
	
}

.class-info{
	
	margin: 0px;
    display: inline;
    font-weight: bold;
    font-size: 10px;
    color: black;
    padding: 20px;
}


#previewImage{
	
	width: 100%;
	height: 210px;
	
}

#type{
	float: right;
}


.class-title{
	
	margin-top: 10px;
	font-size: 18px;
	
}

.class-info::after{
	
	clear: both;
	content: '';
	display: block;
}

.class-image{
	
    position: relative;
    overflow: hidden;
    width: 100%;
    display: inherit;
    background-color: black;
    
}

.class-image>img {
    width: 100%;
    height: 210px;
    opacity: 1;
    transition: 0.3s ease;
}
	
.class-image>figcaption{
	
	position: absolute;
    z-index: 1;
    margin: 15px;
    padding: 15px;
    font-size: 13px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    text-align: center;
    color: white;
    opacity: 0;
    border: 1px solid white;
    transition: 0.3s ease;
	
}	


.d-flex{
	
	margin: 15px;
    float: right;
    margin-top: 10px
	
}

.d-flex::after {
    clear: both;
    content: '';
    display: block;
}

.sub-group {
    margin: 0;
    display: inline-flex;
    float: left;
}

.recommend-number, .like-number {
    width: 60px;
    height: 30px;
    border: 1px solid grey;
    background-color: honeydew;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
}

.col-md-4:hover>.card.mb-4.shadow-sm>.class-image>figcaption{
	
	opacity: 1;
	
}

.col-md-4:hover>.card.mb-4.shadow-sm>.class-image>img {
    opacity: 0.5;
    transform: scale(1.1);
}


/* 1차 심사 통과 후 작업 */

.class-container{
	
	width: 1100px;
    display: flex;
    margin-top: 30px;
	
}



/* 1차 심사 통과 후 오른 쪽*/

.class-slidebar{
	
	width: 40%;
    height: auto;
    padding: 0 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
	
}

.class-description-container{
	
	margin: 0;
    width: 60%;
    height: auto;
    padding: 0 15px;
	
}

.mainChapter-button:hover{
	
	text-decoration-line: none;
	
}

.classContent-setting{
	
	float: left;
    margin-top: 20px;
    width: 100%;
		
}

.class-content-setting::after{
	
	clear:both;
	display: block;
	content: '';
	
	
}

.mainChapter-dropdownMenu{
	
	
    margin-bottom: 20px;
    
}
	
.mainChapter-titleContainer{
	
	padding: 5px 0 5px 15px;
	color: white;
    background-color: skyblue;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
	
}

.subChapter-container{
	
	margin-top: 20px;
	-webkit-transition: all .3s linear 0s;
  	transition: all .3s linear 0s;
	
}

.subChapter-contentContainer{

	margin-top: 15px;

}

.subChapter-menuContainer{
	
	background-color: dimgrey;
	
}

.subChapter-totalContainer{
	
	height: 40px;
	display: inline;
	
}
.subChapter-titleContainer{
	
	display: inline;
	
}

.conSubChapter_title{
	
	width: calc(100% - 90px);
    margin-left: 30px;
    margin-right: 30px;
    height: 40px;

}

.subChapter-totalContainer,
.subChapter-menuContainer{
	
	margin-bottom: 20px;
}


.subChapter-contentOpen{
	
	width: 30px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
	
}

.subChapter-contentOpen{
	
	float: right;
	
}



.subChapter-contentOpen:after{
	
	clear: both;
	content: '';
	display: block;
	
}
.content-division {
    padding: 16px 0;
}

.plan-offer>a{
	
	font-weight: bold;
	color: black;
	
}

.plan-offer>a::hover{
	
	text-decoration: none;
	text-decoration-line: none;
	
}

/* 디스플레이 토글 */

.display-toggle{
	
	display: none;
	
}

/* 크리에이터 센터 푸터*/

.jumbotron.jumbotron-fluid.mb-0{


    position: absolute;
    right: 0;
    margin: 0 80px;
}