@charset "UTF-8";


*{
	padding: 0;
	margin: 0 auto;
}
form{
	display: inline-block;

}


a:hover{
	text-decoration: none;
}
/* 헤어 부분*/
.logo-home{
	height: 100%;

}

.head-wrapper{
	
	width: 1100px;
	height: 100px;
	margin: 0 auto;
}
.logo-container{
	line-height: 100px;
	position: relative;
	display: inline-block;
	left: -15px;
}

.logo{
	object-fit: cover;
}
.search-box{
	width: 250px;
	height: 30px;	
	border: solid grey 1px;
	padding: 4px;
}
.search-icon{
	width: 20px;
	height: 20px;
	float: left;
	text-align: center;
	margin-top: 2px;
}
.search{
	margin-left: 5px;
	border: 2px solid lightgrey;
	border-radius: 4px;
	font-size: 16px;
	top: 2px;
	height: 20px;

}
.search-box:focus{
	width: 400px;
}
.search:focus{
	outline: none;
}

.log-container{
	margin-top: 10px;
	float: right;
}
a>.log-container{
	margin-left: 10px;
}

.head-wrapper::after{
	contain: '';
	box-sizing: border-box;
}

#collapsibleNavbar{
	height: 30px;
	line-height: 35px;
}

.navbar-nav{
	position: absolute;
	
}

.dropdown-menu{
	margin-top: -4px;
	margin-left: -1px;
}

/* 메인 페이지*/

.main-container{
	width: 1100px;
	
}
/*vip플랜 페이지*/

.vipPlan-advertisement{
	margin-top: 50px;
}

.vipPlan-link{
	
}

.vipPlan{
	height: 100px;
	background-color: lightskyblue;
	margin-left: -4px;
    margin-right: 4px;
    color: white;
	
	
}

.stickyTab{
	display: flex;
	background-color: lightskyblue;
}

.stickyTab a {
	
	color: f2f2f2;
	display: block;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;

}

.stickyTab.sticky {
	position: fixed;
  	top: 0;
  	width: 628px;
	
}


.content-division{
	padding: 16px 0;
}

.sticky + .content-division{
	padding-top: 60px;
}

/*VIP 신청*/


.signUp-container>form{
	display: block;
}


.vipPlan-container{
	max-width: 600px;
	border: 1px solid lightgrey;
	
}

.vipPlan-header{
	margin: 0;
		
}


.vipPlan-headContent{
	
	display: flex;
	padding: 16px 8px;
	
}

.vipPlan-gotoHome{
	margin: 0;
}

.vipPlan-iconMenu{
	width: 40px;
    margin-right: 0;
    display: inline-flex;
	line-height: 40px;
	font-size: 25px;
	color: lightskyblue;
}


.vipPlan-menu{
	

	
}


.vipPlan-header:after{
	clear: both;
	display: table;
	content: '';
}


.signUp-container>form{
	display: block;
}


.signUp-container{
	
	margin-top: 20px;
	padding: 16px 25px;
	
}

.greetingMessage{
	font-size: 18px;
	font-weight: bold;
}

.vipPlan-infos{
	margin-top: 15px;
	
}

.vipPlan-infos:nth-of-type(6), .vipPlan-infos:nth-of-type(7){
	
	display: inline-flex;

}

.vipPlan-infos:nth-of-type(6)>div>.signup-box>select{
	
	margin-right: 16px;

}

.card-maker, .card-option{
	
	width: 100%;
	height: 40px;
	
	
}

.card-toggle{
	
	display: none;
	
}

.box-title{
	margin-bottom: 6px;
}

/* 클래스 페이지*/

.class-container{
	width: 1100px;
	display: flex;
	margin-top: 30px;
}



.class-description-container{
	margin: 0;
	width: 60%;
	height: auto;
	padding: 0 15px;
	
	
}

.class-description-container::after{
	content: '';
	both: clear;
	display: table;
}

.class-description{
	
}

.class-slidebar{
	width: 40%;
	height: auto;
	padding: 0 15px;
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	
}

.class-slidebar.sticky{
	width: 440px;
	top: 0;
	position: fixed;
}

.slidebar-boundary{
	padding: 15px;
	border: 1px solid grey;
}

.class-slidebar.sticky{
	position: fixed;
	width: 440px;
	top: 0;
}

.class-instructor{
	font-weight: bold;
	font-size: 15px;
	
}

.class-name{
	font-size: 30px;
	color: mediumturquoise;
	font-weight: bold;
	
}
.class-information{
	margin-top: 20px;	
}

.class-service{
	margin-bottom: 50px;
}

.class-specification{
	margin: 0;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	
}

.class-specification>div{
	margin-bottom: 15px;
	width: 50%;
}

.class-specification-division{
	margin-bottom: 10px;
	font-size: 15px;
	
}

.btn-recommend, .btn-share{
	
	text-align: center;
	border: none;
	height: 35px;
	width: calc(50% - 10px);
	line-height: 20px;
	
}

.btn-recommend:hover, .btn-share:hover{
	
	background-color: darkgrey;
	
}

.class-sideService{
	margin-bottom: 30px;
}

.class-detail{
	margin-top: 20px;
}

.price-detail{
	display: inline-block;
}

.class-price-monthlyPay{
	font-size: 12px;
}

.class-subscription{
	width: 100%;
	height: 35px;
	color: white;
	text-align: center;
	line-height: 35px;
}

.class-subscription:hover{
	text-decoration: none;
	color: white;
}

.class-subscription-button{
	background-color: cadetblue;
}

/* 로그인 페이지*/

.login-container{
	
	margin: 0;
	
}

/* 고객센터 페이지 */

.customerService-container{
	
}

.customerService-container-row{
	
	display: flex;
	text-align: center;
	margin-top: 30px;
}

.customerService-container-row>a{
	width: calc(100% / 3);
}

.customerService-icon{
	
	width: 160px;
	height: 160px;
	border: 1px solid grey;
	border-radius: 160px;
	text-align: center;

	
}

.col-lg-4:hover{
	box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .30), 0 4px 8px 3px rgba(60, 64, 67, .15)
}

.customerService-category-container{
	
}

.customerService-icon>svg, .customerService-icon>i{
	
	font-size: 100px;
	color: powderblue;
	margin-top: 30px;
	
}


.col-lg-4{
	max-width: 330px;
}



/* 푸터 페이지 */

.footer-upperContainer{
	width: 1100px;
	display: flex;

}
.footer-menuBox{
	margin: 0;
	margin-inline-end: auto;
	display: table-cell;
}
.footer-lowerContainer{
	margin-top: 50px;
	width: 1100px;
	display: flex;
	margin-inline-end: auto;
}
.menu-float{
	
	display: block;
	margin-top: 3px;
}

.company{
	width: 35%;
	margin: 0;
	position: relative;
	display: inline-block;
}
.company-detail{
	margin-right: 30px;	
}
.companyDescription{
	width: 65%;
	margin: 0;
	position: relative;
	display: inline-block;
	font-size: 12px;
	margin-top: 38px;
}
.footer-menu{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}


/* About Us 페이지*/

.aboutUs-description{
	
	width: 100%;
	height: auto;
	margin-top: 100px;
	
}

.aboutUs-belief{
	
	background-color: lavender;
	margin-bottom: 200px;
}

.belief-section>span>p>span{
	
	margin: 0;
	width: 500px;
	background: lightskyblue;
	display: block;
	height: 5px;
	margin-top: 10px;
	
	
}

.belief-section>img{
	position: absolute;
}

.belief-section>img:nth-of-type(1){
	width: 313px;
	right: 0;
	top: 700px;
	
}
.belief-section>img:nth-of-type(2){
	width: 333px;
	left: 1000px;
	top: 800px;
	
}

.aboutUs-belief::after{
	clear: both;
	content: '';
	
}

/* 클래스 목록 페이지*/

.classType-container{

	margin-top: 50px;
	
}
.classType{
	
	font-size: 30px;
	font-weight: bold;
	
}

.classList-container{
	
	margin-top: 20px;
	height: auto;
	
}

#classList-name{
	
	font-size: 15px;
	font-weight: bold;
	display: block;
}

.class-selectbox{
	float: right;

}
.class-selectbox::after{
	clear: both;
	content: '';
	display: block;
}

.classList{
	
	margin-top: 100px;
	float: left;
	
}

.classList-row{
	
	display: flex;
	
}

.classList-container::after{
	clear: both;
	content: '';
	display: block;
}

.class-link{
	
	font-decoration: none;
	
	
}

.col-md-4{
	
	max-width: 310px;
	
}

.cold-md-4::hover{
	text-decoration: none;
}


.col-md-4:nth-of-type(1){
	padding-left: 0;
}

.col-md-4::after{
	
	clear: both;
	content: '';
	display: block;
	
}

.col-md-4:hover>.card.mb-4.shadow-sm>.class-image>img{
	opacity: 0.5;
	transform: scale(1.1);
}

.col-md-4:hover>.card.mb-4.shadow-sm>.class-image>figcaption{
	opacity: 1;
}



.class-info{
	margin: 0px;
	display: inline;
	font-weight: bold;
	font-size: 10px;
	color: black;
	padding: 20px;
}


.class-image{
	
	position: relative;
	overflow: hidden;
	width:100%;
	display: inherit;
	background-color: black;
	
}

.class-image>img{
	
	width:100%;
	height: 210px;
	opacity: 1;
	transition: 0.3s ease;
	
	
}

.class-image>figcaption{
	
	position: absolute;
	z-index: 1;
	margin: 15px;
	padding: 15px;
	font-size: 13px;
	width: calc(100% - 30px);
	height: calc(100% - 30px);
	text-align: center;
	color: white;
	opacity: 0;
	border: 1px solid white;
	transition: 0.3s ease;
	
}


#type{
	
	float: right;
	
}

.class-title{
	margin-top: 10px;
	font-size: 18px;
	
}

.class-info::after{
	clear: both;
	content: '';
	display: block;
}

.d-flex{
	
	margin: 15px;
	float: right;
	margin-top: 10px;
	
}

.d-flex::after{
	
	clear: both;
	content: '';
	display: block;
}

.sub-group{
	
	margin: 0;
	display: inline-flex;
	float: left;
	
}

.text-muted{
	
	
	right: 0;
	
}

.recommend-number, .like-number{
	
	width: 60px;
	height: 30px;
	border: 1px solid grey;
	background-color: honeydew;
	border-radius: 5px;
	line-height: 30px;
	text-align: center;
	margin-right: 10px;
	
}


/* 회원가입 페이지*/

.signup-container{
	margin-top: 100px;
	text-align: center;
	
}


.signup-infos{
	
	width: 300px;
	margin: 0;
	
	
}


.signup-box{
	
	display: flex;
	margin-bottom: 15px;
}

.signup-box>input{
	
	width: 100%;
	font-size: 20px;
}


.joinIn{
	width: 100%;
	height: 40px;
	line-height: 30px;
	text-align: center;
	border: none;
	background-color: lightskyblue;
	color: white;
	font-weight: bold;
}

.signup-infos:after{
	
	clear: both;
	content: '';
	display: block;
	margin-bottom: 50px;
	
}

.content-division>div{
	padding-top:53px;
	margin-top:-53px;
}



