@charset "UTF-8";


*{
	padding: 0;
	margin: 0 auto;
}
form{
	display: inline-block;

}
.logo-home{
	height: 100%;

}

.head-wrapper{
	
	width: 1100px;
	height: 100px;
	margin: 0 auto;
}
.logo-container{
	line-height: 100px;
	position: relative;
	display: inline-block;
	left: -15px;
}

.logo{
	object-fit: cover;
}
.search-box{
	width: 250px;
	height: 30px;	
	border: solid grey 1px;
	padding: 4px;
}
.search-icon{
	width: 20px;
	height: 20px;
	float: left;
	text-align: center;
	margin-top: 2px;
}
.search{
	margin-left: 5px;
	border: transparent;
	top: 2px;
	height: 20px;

}
.search-box:focus{
	width: 400px;
}
.search:focus{
	outline: none;
}

.log-container{
	margin-top: 10px;
	float: right;
}
a>.log-container{
	margin-left: 10px;
}

.head-wrapper::after{
	contain: '';
	box-sizing: border-box;
}

<<<<<<< Updated upstream
/* 메인 페이지*/



  
/* 외원가입 페이지*/

.signup-container{
	margin-top: 100px;
	margin-left: 50%;
	
}
.signup-box{
	margin-bottom: 20px;
=======
@media (){
	
>>>>>>> Stashed changes
}