@charset "UTF-8";


*{
	padding: 0;
	margin: 0 auto;
}
form{
	display: inline-block;

}
/* 헤어 부분*/
.logo-home{
	height: 100%;

}

.head-wrapper{
	
	width: 1100px;
	height: 100px;
	margin: 0 auto;
}
.logo-container{
	line-height: 100px;
	position: relative;
	display: inline-block;
	left: -15px;
}

.logo{
	object-fit: cover;
}
.search-box{
	width: 250px;
	height: 30px;	
	border: solid grey 1px;
	padding: 4px;
}
.search-icon{
	width: 20px;
	height: 20px;
	float: left;
	text-align: center;
	margin-top: 2px;
}
.search{
	margin-left: 5px;
	border: transparent;
	top: 2px;
	height: 20px;

}
.search-box:focus{
	width: 400px;
}
.search:focus{
	outline: none;
}

.log-container{
	margin-top: 10px;
	float: right;
}
a>.log-container{
	margin-left: 10px;
}

.head-wrapper::after{
	contain: '';
	box-sizing: border-box;
}

#collapsibleNavbar{
	height: 30px;
	line-height: 35px;
}

.navbar-nav{
	position: absolute;
	
}

/* 푸터 페이지 */

.footer-upperContainer{
	width: 1100px;
	display: flex;

}
.footer-menuBox{
	margin: 0;
	margin-inline-end: auto;
	display: table-cell;
}
.footer-lowerContainer{
	margin-top: 50px;
	width: 1100px;
	display: block;
	margin-inline-end: auto;
}
.menu-float{
	
	display: block;
	margin-top: 3px;
}

.company{
	width: 35%;
	margin: 0;
	position: relative;
	display: inline-block;
}
.company-detail{
	margin-right: 30px;	
}
.companyDescription{
	width: 65%;
	margin: 0;
	position: relative;
	display: inline-block;
}
.footer-menu{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

}
/* 메인 페이지*/



  
/* 외원가입 페이지*/

.signup-container{
	margin-top: 100px;
	text-align: center;
	
}


.signup-box{
	margin-bottom: 20px;
}


@media (){
	

}



