<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.projectone.dao.ClassDao">

	<select id="getAllClass" resultType="kr.spring.projectone.vo.ClassVo">
	
		select * from class order by class_openDate desc;
	
	</select>
	
	<select id="getCurrentClass" resultType="kr.spring.projectone.vo.ClassVo">
	
		select * from class where class_openDate <![CDATA[ <= ]]> now() order by class_openDate desc;
	
	</select>
	
	<select id="getFutureClass" resultType="kr.spring.projectone.vo.ClassVo">
	
		select * from class where class_openDate <![CDATA[ > ]]> now() order by class_openDate desc;
	
	</select>
	
	<select id="getArtsCurrentClass" resultType="kr.spring.projectone.vo.ClassVo">
	
		select * from class 
			where class_openDate <![CDATA[ <= ]]> now() 
			and class_category = "순수미술"
			order by class_openDate desc;
	
	</select>
	
	<select id="getIllustrationCurrentClass" resultType="kr.spring.projectone.vo.ClassVo">
	
		select * from class 
			where class_openDate <![CDATA[ <= ]]> now() 
			and class_category = "일러스트레이션"
			order by class_openDate desc;
	
	</select>
	
	<select id="getCraftCurrentClass" resultType="kr.spring.projectone.vo.ClassVo">
	
		select * from class 
			where class_openDate <![CDATA[ <= ]]> now() 
			and class_category = "공예"
			order by class_openDate desc;
	
	</select>
	
	<select id="getSportCurrentClass" resultType="kr.spring.projectone.vo.ClassVo">
	
		select * from class 
			where class_openDate <![CDATA[ <= ]]> now() 
			and class_category = "운동"
			order by class_openDate desc;
	
	</select>
	
	<select id="getHumanitiesCurrentClass" resultType="kr.spring.projectone.vo.ClassVo">
	
		select * from class 
			where class_openDate <![CDATA[ <= ]]> now() 
			and class_category = "인문학"
			order by class_openDate desc;
	
	</select>
	
	<select id="getMusicCurrentClass" resultType="kr.spring.projectone.vo.ClassVo">
	
		select * from class 
			where class_openDate <![CDATA[ <= ]]> now() 
			and class_category = "음악"
			order by class_openDate desc;
	
	</select>
	
	<select id="getProgrammingCurrentClass" resultType="kr.spring.projectone.vo.ClassVo">
	
		select * from class 
			where class_openDate <![CDATA[ <= ]]> now() 
			and class_category = "프로그래밍"
			order by class_openDate desc;
	
	</select>
	
	<select id="getFilmCurrentClass" resultType="kr.spring.projectone.vo.ClassVo">
	
		select * from class 
			where class_openDate <![CDATA[ <= ]]> now() 
			and class_category = "영상/편집"
			order by class_openDate desc;
	
	</select>
	
	<select id="getSelectedClass" resultType="kr.spring.projectone.vo.ClassVo">
	
		select * from class where class_code = #{class.class_code};
	
	
	</select>
	
	<select id="checkMyClass" resultType="kr.spring.projectone.vo.ClassVo">
	
		select * from class where class_st_id = #{id};
	
	</select>
	
	<select id="getMyClass" resultType="kr.spring.projectone.vo.ClassVo">
	
		select * from purchase join class
			where purchase_class_code = class_code
			and purchase_st_id = #{id};
		
	</select>
	

	<select id="getMainChapter" resultType="kr.spring.projectone.vo.MainChapterVo">
	
		select * from mainchapter where mainChapter_class_code = #{code};
		
	</select>
	
	
	<select id="findSubChapter" resultType="kr.spring.projectone.vo.SubChapterVo">
	
		select * from subchapter where subChapter_mainChapter_priNum = #{i};
	
	</select>
	
	<insert id="inputClass">
	
		insert into
			currentclass (currentClass_class_title,currentClass_dueDate, currentClass_st_id, currentClass_class_code)
			values (#{class.currentClass_class_title},#{class.currentClass_dueDate}, #{class.currentClass_st_id}, #{class.currentClass_class_code});
	
	</insert>
	
	<select id="searchHistory" resultType="kr.spring.projectone.vo.CurrentClassVo">
	
		select * from currentclass where currentClass_st_id = #{id};
	
	</select>
	
	<select id="searchPurchaseHistory" resultType="kr.spring.projectone.vo.CurrentClassVo">
	
		select * from currentclass where currentClass_st_id = #{id} and currentClass_class_code = #{code};
	
	</select>
	
	<insert id="vipInsertClass">
	
		insert into
			currentclass(currentClass_dueDate, currentClass_class_title, currentClass_st_id, currentClass_class_code, currentClass_vip_code)
			values(#{vip.currentClass_dueDate},#{vip.currentClass_class_title},#{vip.currentClass_st_id},#{vip.currentClass_class_code},#{vip.currentClass_vip_code});
	
	</insert>
	
	<select id="checkVipSelected" resultType="kr.spring.projectone.vo.CurrentClassVo">
	
		select * from currentclass where currentClass_vip_code = #{code} and currentClass_class_code = #{class};
	
	</select>
	
	<select id="returnContent" resultType="kr.spring.projectone.vo.SubChapterVo">
	
		select * from subChapter where subChapter_priNum = #{priNum};
		
	</select>
	
</mapper>