<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.projectone.dao.ClassDao">

	<select id="getAllClass" resultType="kr.spring.projectone.vo.ClassVo">
	
		select * from class;
	
	</select>
	
	<select id="getMyClass" resultType="kr.spring.projectone.vo.ClassVo">
	
		select * from class where class_st_id = #{id};
	
	</select>
	

	<select id="getSelectedClass" resultType="kr.spring.projectone.vo.ClassVo">
	
		select * from class where class_code = #{class.class_code};
		
	</select>

</mapper>