<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.projectone.dao.PaymentDao">

	<select id="getAllPaymentInfo"  resultType="kr.spring.projectone.vo.PaymentVo">
	
		select * from payment;
	
	</select>

	<select id="getPaymentInfo" resultType="kr.spring.projectone.vo.PaymentVo">
	
		select * from payment where payment_st_id = #{id};
	
	</select>


</mapper>