<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.projectone.dao.TempClassDao">

	<select id="getMySubmitClass" resultType="kr.spring.projectone.vo.TemporaryClassVo">
		select * from addclass where addClass_st_id = #{id};
	</select>

	<insert id="submitTempClass">
		insert into
			addClass(addClass_code,addClass_title,addClass_creatorName,addClass_category,addClass_thumbIntro,addClass_introduction,addClass_monthly,addClass_price,addClass_hasPackage,addClass_setPackage,addClass_difficulty,addClass_creator,addClass_confirm,addClass_st_id)
			values(#{tempClass.addClass_code},#{tempClass.addClass_title},#{tempClass.addClass_creatorName},#{tempClass.addClass_category},#{tempClass.addClass_thumbIntro},#{tempClass.addClass_introduction},#{tempClass.addClass_monthly},#{tempClass.addClass_price},#{tempClass.addClass_hasPackage},#{tempClass.addClass_setPackage},#{tempClass.addClass_difficulty},#{tempClass.addClass_creator},#{tempClass.addClass_confirm},#{tempClass.addClass_st_id});
	</insert>
	
	<update id="insertImage">
	
		update addClass
			set addClass_image = #{image}
			where addClass_st_id = #{id};
		
	</update>

	<insert id="insertTempChapter" useGeneratedKeys="true" parameterType="kr.spring.projectone.vo.TemporaryMainChapterVo" keyProperty="tempMain.conMainChapter_priNum"> <!-- useGeneratedKeys 반환 하는 키 있음? parameterType 그 키 어디에 있음? keyProperty 그 키 이름 뭐임? 이거 없음 db 동시 적용 안됩니다!  -->
	
		insert into 
			conmainchapter(conMainChapter_title, conMainChapter_number, conMainChapter_addClass_code)
			values(#{tempMain.conMainChapter_title}, #{tempMain.conMainChapter_number}, #{tempMain.conMainChapter_addClass_code});
	
	</insert>
	
	<insert id="insertSubChapter">
		
		insert into
			consubchapter(conSubChapter_title, conSubChapter_number, conSubchapter_conMainChapter_priNum)
			values(#{tempSub.conSubChapter_title}, #{tempSub.conSubChapter_number}, #{tempSub.conSubChapter_conMainChapter_priNum});
		
	</insert>
	
	
	<update id="updateContent">
	
		update consubchapter
			set conSubChapter_title = #{tempSub.conSubChapter_title},
				conSubChapter_content = #{tempSub.conSubChapter_content}
			where conSubChapter_priNum = #{priNum};
	
	</update>
	
	<update id="notifyFinalStep">
	
		update addClass
			set addClass_finalSubmit = "W"
			where addClass_code = #{classCode};
	
	</update>
	
	

	<!-- 관리자 구역 -->
	
	<select id="getTempClass" resultType="kr.spring.projectone.vo.TemporaryClassVo">
		select * from addclass;
	</select>
	
	
	<select id="getTempClassCode" resultType="kr.spring.projectone.vo.TemporaryClassVo">
		select * from addClass where addClass_code = #{code};
	</select>
	
	
	<select id="detectChapterCode" resultType="kr.spring.projectone.vo.TemporaryMainChapterVo">
		select * from conmainchapter where conMainChapter_addClass_code = #{tempMain};
	</select>
	
	<select id="getSubChapter" resultType="kr.spring.projectone.vo.TemporarySubChapterVo">
		select * from consubChapter where conSubChapter_conMainChapter_priNum = #{i} order by conSubChapter_number asc;
	</select>
	
	<update id="firstConfirm">
	
		update addClass
			set addClass_confirm = #{answer},
			addClass_submitDate = #{today},
			addClass_adminComment = #{comment}
				where addClass_code = #{code};
	
	</update>
	
	<insert id="finalConfirm">
	
		insert into
			class(class_code, class_title, class_category, class_difficulty, class_creatorName,
			
			class_thumbIntro, class_image, class_introduction, class_monthlyPay, class_price,
			
			class_openDate, class_hasPackage, class_packageSet, class_creatorDescription, class_studyDay, class_st_id)
			
			values(#{tempClass.addClass_code}, #{tempClass.addClass_title}, #{tempClass.addClass_category},#{tempClass.addClass_difficulty}, #{tempClass.addClass_creatorName},
			
			#{tempClass.addClass_thumbIntro}, #{tempClass.addClass_image}, #{tempClass.addClass_introduction}, #{tempClass.addClass_monthly}, #{tempClass.addClass_price},
			
			#{tempClass.addClass_openDate}, #{tempClass.addClass_hasPackage}, #{tempClass.addClass_setPackage}, #{tempClass.addClass_creator}, 
			
			 #{tempClass.addClass_classWeek}, #{tempClass.addClass_st_id});
	
	</insert>
	
	<insert id="setMainChapter" useGeneratedKeys="true" parameterType="kr.spring.projectone.vo.MainChapterVo" keyProperty="conMain.conMainChapter_priNum">
	
		insert into
			mainchapter(mainChapter_title, mainChapter_number, mainChapter_class_code)
			values(#{conMain.conMainChapter_title},#{conMain.conMainChapter_number},#{conMain.conMainChapter_addClass_code});
	
	</insert>
	
	<insert id="setSubChapter">
	
		insert into
			subChapter(subChapter_title, subChapter_number, subChapter_content, subChapter_mainChapter_priNum)
			values(#{conSub.conSubChapter_title},#{conSub.conSubChapter_number},#{conSub.conSubChapter_content},#{conSub.conSubChapter_conMainChapter_priNum});
	
	</insert>
	
	<delete id="deteleTempClass">
	
		delete from addClass where addClass_code = #{code};
	
	</delete>
	
	
</mapper>