<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.projectone.dao.TempClassDao">

	<select id="getMySubmitClass" resultType="kr.spring.projectone.vo.TemporaryClassVo">
		select * from addclass where addClass_st_id = #{id};
	</select>

	<insert id="submitTempClass">
		insert into
			addClass(addClass_code,addClass_title,addClass_category,addClass_thumbIntro,addClass_introduction,addClass_monthly,addClass_price,addClass_hasPackage,addClass_setPackage,addClass_difficulty,addClass_creator,addClass_st_id)
			values(#{tempClass.addClass_code},#{tempClass.addClass_title},#{tempClass.addClass_category},#{tempClass.addClass_thumbIntro},#{tempClass.addClass_introduction},#{tempClass.addClass_monthly},#{tempClass.addClass_price},#{tempClass.addClass_hasPackage},#{tempClass.addClass_setPackage},#{tempClass.addClass_difficulty},#{tempClass.addClass_creator},#{tempClass.addClass_st_id});
	</insert>
	
	<update id="insertImage">
	
		update addClass
			set addClass_image = #{image}
			where addClass_st_id = #{id};
		
	</update>



	<!-- 관리자 구역 -->
	
	<select id="wholeTempClass" resultType="kr.spring.projectone.vo.TemporaryClassVo">
		select * from addclass where addClass_confirm = 'W';
	</select>
	

</mapper>